.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(255, 191, 0);
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 170px;
    margin: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for the shadow and scale */
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0.7, 0.7); /* Shadow effect on hover */
    transform: scale(1.05); /* Slightly increase the size on hover */
}


.product_image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.product_info p {
    margin: 5px 0;
}

.product_info strong {
    margin: 10px 0;
    font-size: 1em;
}
