/* Quiz.css */

.quiz-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.question {
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.option.selected {
  background-color: #ff3366; /* Change background color when selected */
  color: #fff;
  border-color: #ff3366;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ff3366;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3366;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #ccc;
}
